{
  "ignore": [
    "**/node_modules/**",
    "**/.next/**",
    "**/dist/**",
    "**/build/**",
    "**/ios/**",
    "**/android/**",
    "**/.expo/**",
    "**/*.png",
    "**/*.jpg",
    "**/*.mp4"
  ]
}